* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  
  display: flex;
  flex-direction: column;
  
}

#search-box {
  display: block;
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin: 0px auto 16px auto;
  border-radius: 4px;
}

.flag_in_list{
  border:1px black solid;
  width: 30px;
  height: 20px;
  border-radius: 2px;
}
.flag_single{
  border:1px black solid;
  width: 60px;
  height: 40px;
  border-radius: 2px;
}

.countryInfo_header_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.countryInfo_headers{
  font-weight: 700;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  line-height: normal;
}


ul{
  padding: 0px;
  margin-bottom: 0;
}
li {
  list-style: none;

}


.border {
  display: inline-block;
  border: 3px tomato dashed;
  margin: auto auto;
  max-width: 30%;
  padding: 25px;
}